---
# Playbook to create users/groups for media servers
# Note: Directories are created by Nomad dynamic host volumes (mkdir plugin)
- name: Setup Media Server Users
  hosts: nomad_clients
  become: true

  tasks:
    # Plex user and group setup (required for volume ownership)
    - name: Create plex group
      ansible.builtin.group:
        name: plex
        gid: "{{ group_gid }}"
        state: present
      when: media_server == "plex" or media_server == "both"

    - name: Create plex user
      ansible.builtin.user:
        name: plex
        uid: "{{ user_uid }}"
        group: plex
        home: "{{ plex_config_dir }}"
        create_home: false
        shell: /sbin/nologin
        system: true
        state: present
      when: media_server == "plex" or media_server == "both"
