# This job runs the controller service for the SMB CSI plugin.
# The controller is responsible for managing volumes (create, delete, etc.).
job "cifs-csi-plugin-controller" {
  datacenters = ["{{ consul_datacenter }}"]
  type        = "service"

  # The controller group runs a single instance of the plugin.
  group "controller" {
    count = 1

    task "plugin" {
      driver = "podman"

      config {
        image = "{{ csi_smb_image }}"

        args = [
          "--v={{ csi_log_level }}",
          "--nodeid=${node.unique.id}",
          "--endpoint=unix:///csi/csi.sock",
          "--drivername={{ csi_driver_name }}",
        ]

      }

      # This stanza configures the task as a CSI plugin controller.
      csi_plugin {
        id        = "{{ csi_plugin_id }}"
        type      = "controller"
        mount_dir = "/csi"
      }

      resources {
        memory = {{ csi_controller_memory }}
        cpu    = {{ csi_controller_cpu }}
      }
    }
  }
}
