# This job runs the node service for the SMB CSI plugin.
# The node plugin is responsible for mounting volumes on the host.
job "cifs-csi-plugin-node" {
  datacenters = ["{{ consul_datacenter }}"]
  type        = "system"

  # The nodes group runs the plugin on all client nodes.
  group "nodes" {
    task "plugin" {
      driver = "podman"

      config {
        image = "{{ csi_smb_image }}"

        args = [
          "--v={{ csi_log_level }}",
          "--nodeid=${node.unique.id}",
          "--endpoint=unix:///csi/csi.sock",
          "--drivername={{ csi_driver_name }}",
        ]

        privileged   = true
        network_mode = "host"

      }

      # This stanza configures the task as a CSI plugin node service.
      csi_plugin {
        id                     = "{{ csi_plugin_id }}"
        type                   = "node"
        mount_dir              = "/csi"
        stage_publish_base_dir = "/local/csi"
      }

      resources {
        cpu    = {{ csi_node_cpu }}
        memory = {{ csi_node_memory }}
      }
    }
  }
}
