client {
  host_volume "jellyfin-config" {
    path      = "{{ jellyfin_config_dir }}"
    read_only = false
  }

  host_volume "jellyfin-cache" {
    path      = "{{ jellyfin_cache_dir }}"
    read_only = false
  }
}
