client {
  host_volume "plex-config" {
    path      = "{{ plex_config_dir }}"
    read_only = false
  }

  host_volume "plex-transcode" {
    path      = "{{ plex_transcode_dir }}"
    read_only = false
  }
}
